{
	"presets": [
		[
			"@babel/env", {
				"modules": false,
				"loose": true,
				"targets": {
					"chrome": 66
				}
			}
		]
	],
	"plugins": [
		"@babel/plugin-external-helpers"
	],
	"env": {
		"test": {
			"plugins": [ "istanbul" ]
		}
	}
}
